#navigationStepProgress
    {
    top:0;
    left:0;
    width:100%;
    height:6%;
    background-color: black;
    text-align: center;
    z-index:1;
    padding:10px;
    position:absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }
#title
    {
    top:6%;
    left:0;
    width:100%;
    height:14%;
    color:white;
    font-size:5vw;/*600%;8em;*/
    position:absolute;
    }
#subtitle
    {
    top:20%;
    left:0;
    width:100%;
    height:5%;
    color:white;
    font-size: 2vw;/*300%;3em;*/
    position:absolute;
    }
#selProgress
    {
    color:white;
    font-size:1.5em;
    width: 20%;
    float: left;
    padding: 10px;
    border: 4px solid red;

    }
#progress
    {
    color:white;
    font-size:0.8em;
    width: 13.3%;
    float: left;
    padding: 10px;
    border: 2.5px solid blue;
    }

#controlLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

  top:25%;
  left:0;
  width:15%;
  height:75%;
  position:absolute;
}
#controlRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

  top:25%;
  left:85%;
  width:15%;
  height:75%;
  position:absolute;
  font-size:8em;
}

#p1
    {
    top:25%;
    left:15%;
    width:70%;
    height:20%;
    color:white;
    font-size: 2em;
    position:absolute;
    vertical-align: middle;
    z-index:10003;
    }
#p2
    {
    margin-top: 1em;
    top:45%;
    left:15%;
    width:70%;
    height:15%;
    color:white;
    position:absolute;
    font-size: 2em;
    vertical-align: middle;
    z-index:10002;


    }
#p3
    {
    top:60%;
    left:15%;
    width:70%;
    height:65%;
    color:white;
    font-size: 2em;
    position:absolute;
    vertical-align: middle;
        z-index:10001;

    }
#panel
    {
    border: 5px outset red;
    background-color: black;
    text-align: center;
    height: 96%;
    width: 90%;
    position:absolute;
    z-index:999;
    top:3%;
    left:5%;
    padding:10px
    }
.calendarMonth:hover, .calendarDay:hover, .calendarHour:hover, .linkButton:hover
    {
    background:gold;
    cursor:pointer;
    border: 2px solid white;
    }
.calendarMonth, .calendarDay, .calendarHour, .linkButton
    {
    background:white;
    color: black;
    font-size: xx-large;
    font-weight: bold;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 4px double #aaaaaa;
    border-radius: 82px;
    }
.calendarMonth
    {
    width:20%;
    }
.calendarDay
    {
    width:10%;
    }
.calendarHour
    {
    width:10%;
    font-size: xx-large;

    }
.linkButton
    {
    -webkit-appearance:button;
    width:100%;
    font-size: x-large;
    }
#panel h2
    {
    font-size: xx-large;
    margin-top: 0em;
    }


#panel input[type=text]
    {
    font-size: 165px;
    padding-left: 45px;
    height: 200px;
    width: 1090px;

    /*color:black;*/
    background:white;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 12px solid silver;

    /*color: #a0d18c;*/

    /*width: 250px;
    height: 30px;
    padding-left: 10px;*/
    }

#panel input[type=text]:hover
    {
    border: 12px solid dimgrey;
    }
#panel input[type=text]:focus {
  /*background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;*/
  /*border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));*/

  /*outline: none !important;
  border:4px solid gold;*/

  /*box-shadow: 0 0 10px #719ECE;*/

  outline: none;
  border: 12px solid lime;
  /*color: #2d9fd9;*/

}
#panel input
    {
          width: 90%;

    }
/* mouse over link */
#buttonRight:hover {
  background-color: #FFD700;
  border-color: #FFD700;
  cursor:pointer;
}
#buttonRight:active {
  transform: translate(4px,4px);
}
#buttonLeft:active {
  transform: translate(4px,4px);
}

#buttonRight:hover #buttonTitleR {
  color: black;
}
#buttonRight:hover #bRight {
  background: black;
  border-color: black;
}
#buttonRight:hover #bRight::before {
  color: #FFD700;
}

#panel  img
    {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 90%;
    border;3px;
    }

#buttonRight {
  width: fit-content;
  border-radius: 30px;
  border: 4px solid white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  /*background:black;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid white;
  border-radius: 82px;
  margin-top: 40px;
  padding-right: 20px;*/
}
#buttonLeft {
  width: fit-content;
  border-radius: 30px;
  border: 4px solid #232323;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bRight {
  width: 120px;
  height: 120px;
  filter: url();
  text-align: center;
  border-radius: 60%;
  background: white;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-image: initial;
  font: 32px Arial, sans-serif;
  /*width: 120px;
  height: 120px;
  filter: url();
  text-align: center;
  border-radius: 60%;
  background: white;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-image: initial;
  font: 32px Arial, sans-serif;
  margin-right: 20px;*/
}
#bLeft {
  width: 120px;
  height: 120px;
  filter: url();
  text-align: center;
  border-radius: 60%;
  background: #232323;
  border-width: 2px;
  border-style: solid;
  border-color: #232323;
  border-image: initial;
  font: 32px Arial, sans-serif;
}

#bRight::before{
  content: '\21E8';
  position: absolute;
  right: 15px;
  font-size: 83px;
  color: black;
}
#bLeft::before{
  content: '\21E6';
  position: absolute;
  right: 15px;
  font-size: 83px;
  color: black;
}

#buttonTitleR {
  color: white;
  font-size: xxx-large;
  text-decoration: underline;
  /*color: white;
  font-size: xxx-large;
  font-weight: bold;*/
}
#buttonTitleL {
  color: #232323;
  font-size: xxx-large;
  text-decoration: underline;
}
