#navigationStepProgress
    {
    top:0;
    left:0;
    width:100%;
    height:6%;
    border: 5px outset white;
    background-color: black;
    text-align: center;
    z-index:1;
    padding:10px;
    border: 5px outset white;
    position:absolute;
    }
#title
    {
    top:6%;
    left:0;
    width:100%;
    height:14%;
    color:white;
    font-size:8em;
    border: 5px outset white;
    position:absolute;
    }
#subtitle
    {
    top:20%;
    left:0;
    width:100%;
    height:5%;
    color:white;
    font-size: 3em;
    border: 5px outset white;
    position:absolute;
    }
#selProgress
    {
    color:white;
    font-size:1.5em;
    width: 20%;
    float: left;
    padding: 10px;
    border: 2px solid red;

    }
#progress
    {
    color:white;
    font-size:1em;
    width: 13.3%;
    float: left;
    padding: 10px;
    border: 2px solid blue;
    }

#controlLeft
    {
    top:25%;
    left:0;
    width:15%;
    height:75%;
    border: 5px outset white;
    position:absolute;
    }
#controlRight
    {
    top:25%;
    left:85%;
    width:15%;
    height:75%;
    border: 5px outset white;
    position:absolute;
                font-size:8em;

    }
#p1
    {
    top:25%;
    left:15%;
    width:70%;
    height:25%;
    color:white;
    font-size: 2em;
    border: 5px outset white;
    position:absolute;
    }
#p2
    {
    top:50%;
    left:15%;
    width:70%;
    height:15%;
    color:white;
    position:absolute;
    font-size: 2em;
    border: 5px outset white;

    }
#p3
    {
    top:65%;
    left:15%;
    width:70%;
    height:60%;
    color:white;
    font-size: 2em;
    border: 5px outset white;
    position:absolute;

    }
#panel
    {
    border: 5px outset red;
    background-color: black;
    text-align: center;
    height: 96%;
    width: 90%;
    position:absolute;
    z-index:999;
    top:3%;
    left:5%;
    padding:10px
    }
#panel a.calendarMonth
    {}
#panel a.calendarDay
    {}
#panel a.calendarHour
    {}

#panel a.calendarAPP
    {
    font-weight: bold;
    background-color: silver;
    font-size:3em;
    width:20%;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    }

#panel input
    {
    color:black;
    font-size:6em;
    background:white;
    width:70%
    }
#panel a
    {
    background-color: silver;
    font-size:20em;
    width:60%;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    }
#panel a.button
    {
    font-size:20em;
    background-color: silver;
    width:60%;
    color: black;
    padding: 14px 25px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    }
#panel a.buttonMenu
    {
    font-size: 40px;
    background-color: silver;
    width:40%;
    height:20%;
    color: black;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius:50%;
    }

#panel a:link
    {
    background-color: silver;
    color:black
    }
/* visited link */
#panel a:visited
    {
    background-color: silver;
    color:black
    }
/* mouse over link */
#panel a:hover
    {
    background-color: gold;
    color:black;
    cursor:pointer;
    }
/* selected link */
#panel a:active
    {
    background-color: silver;
    color:black
    }

#panel img
    {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border;3px;
    }
