#panel
    {
    border: 5px outset red;
    background-color: black;
    text-align: center;
    height: 90%;
    width: 90%;
    position:absolute;
    z-index:1;
    top:5%;
    left:5%;
    padding:10px
    }

#panel input
    {
    color:black;
    font-size:6em;
    background:white;
    width:70%
    }
#panel h1
    {
    color:white;
    font-size:8em
    }

#panel h2
    {
    color:white;
    font-size:2em;
    text-align: center
    }
#panel h3
    {
    color:white;
    font-size:1em;
    text-align: center
    }

#panel > p
    {
    color:white;
    font-size: 2em
    }

*#panel a
    {
    background-color: silver;
    font-size:2em;
    width:60%;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    }
*[id="next"]
{
    font-size:20px;
    background-color: silver;
    width:40%;
    color: black;
    padding: 14px 25px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    }
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: black;
}